body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
}

.code-container {
    background-color: #333; 
    color: #f8f8f2; 
    border: 1px solid #ccc;
    padding: 15px; 
    border-radius: 4px;
    overflow-x: auto; 
    white-space: nowrap;  
    font-family: 'Consolas', 'Monaco', 'Source Code Pro', monospace;
}

h1 {
    color: #333; 
    margin-bottom: 20px; 
}

input[type="submit"], button.btn, label.btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    border: none; 
}

.btn-custom-upload {
    background-color: #007bff; 
    color: white;
}

.btn-custom-upload:hover {
    background-color: #0056b3; 
    color: white;
}

.btn-custom-submit {
    background-color: #dc3545;
    color: white;
}

.btn-custom-submit:hover {
    background-color: #c82333;
    color: white;
}

.btn-custom-execute {
    background-color: #ffc107;
    color: black;
}

.btn-custom-execute:hover {
    background-color: #e0a800;
    color: white;
}


.modal-footer button {
    width: 100%; 
}


