<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Proceso ETL</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container mt-5">  <!-- Clase 'container' y 'mt-5' de Bootstrap para márgenes -->
        <h1>Bienvenido a la Interfaz de Proceso ETL</h1>
        <p>Sube los archivos para procesar:</p>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label class="btn btn-custom-upload">Elegir archivos
                <input type="file" name="files" multiple style="display: none;">
            </label>
            
            <input type="submit" value="Subir Archivos" class="btn btn-custom-submit">
        </form>

        <button type="button" class="btn btn-custom-execute" data-toggle="modal" data-target="#confirmModal" style="margin-top: 18px; width: 100%;">
            Ejecutar ETL
        </button>

        <!-- Modal -->
        <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmModalLabel">Confirmar Ejecución</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro de que deseas ejecutar el proceso ETL?
                        <div class="progress" style="margin-top: 20px;">
                            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="progressBar"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <form action="/confirm" method="post">
                            <button type="submit" class="btn btn-primary" name="confirm" value="Y">Sí, ejecutar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Incluir Bootstrap JS y jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
